<div class="container-fluid">
    <div class="row about-us d-flex">
        <div class="col align-self-center">
            <p>O <b>POALAB</b> é um laboratório de fabricação digital e está conectado à rede mundial de fab labs. Opera como um programa de extensão do IFRS campus Porto Alegre.<br><br> Temos como missão popularizar o acesso e letramento na fabricação
                digital, e letramento na fabricação digital, funcionando como uma plataforma de criatividade, aprendizagem e invenção.<br><br> Ser um Fab Lab significa estar conectado a uma comunidade mundial de alunos, educadores, técnicos, pesquisadores
                e inovadores e desenvolver atividades dentro da filosofia do conhecimento aberto.<br><br> Conheça a <b>FAB CHARTER</b> - A Carta de Intenções que regra os Fab Labs<br><br><br><br><br><br><br></p>
        </div>
        <div class="col align-self-center d-flex justify-content-center">
            <img src="assets/circuito.jpg" alt="Imagem máquina" title="Imagem máquina" height="300">
        </div>
    </div>
    <div class="row open-day" id="open-day">
        <div class="row title">
            <h3>Open Days</h3>
        </div>
        <div class="row">
            <div class="col align-self-top d-flex justify-content-left">
                <img src="assets/comunidade.jpg" alt="open-day" title="open-day" height="400">
            </div>
            <div class="col align-self-center">
                <p>

                    Os open days são um dos requisitos para a existência de um fab lab.<br><br> Nestes dias, a comunidade externa têm a possibilidade de conhecer as ferramentas existentes no lab e aprender sobre fabricação digital.<br><br> Cada fab
                    lab possui suas regras de open day.<br><br> Essas são as regras do PoaLab:<br><br> Não existe custo para acessar o lab ou utilizar as máquinas;<br> Não existe reserva de equipamento;<br> Os usuários são convidados a cadastrar os
                    seus projetos no sistema de projetos do PoaLab para compartilhamento com a comunidade;<br> Os usuários devem trazer os insumos necessários para os projetos;<br> Temos material, equipamento, pessoal e disposição para atender a todos,
                    independente de conhecimento;<br> Em 2 anos de funcionamento a faixa etária de usuários variou entre 5 e 76 anos... queremos avançar nos dois limites;
                    <br> O objetivo do lab é o de disseminar conhecimento<br> -- se você não tem nenhum conhecimento sobre fabricação digital, o lab foi feito pra você.<br><br> Continua com dúvidas? Mande mensagem via email ou via página do facebook!

                </p>
            </div>
        </div>
    </div>
</div>