<footer>
    <div class="contact">
        <p>
            Coordenação: <a href="http://www.inf.poa.ifrs.edu.br/~peres/" target="_blank">André Peres</a><br>
            <a href="mailto:andre.peres@poa.ifrs.edu.br">andre.peres@poa.ifrs.edu.br</a>
        </p>
    </div>
    <div class="address">
        <p>
            R. Cel. Vicente, 281<br> Sala 1016 - Torre Sul<br> Centro Histórico<br> Porto Alegre - RS<br> CEP: 90030-041
        </p>
    </div>
    <div class="logo">
        <a href="http://poa.ifrs.edu.br/" target="_blank">
            <img src="assets/ifrs.svg" alt="Logo Instituto Federal do Rio Grande do Sul" title="Logo Instituto Federal do Rio Grande do Sul">
        </a>
    </div>
</footer>