<div class="container-fluid">
    <div class="row links">
        <div class="col">
            <h3>Links úteis</h3>
            <ul>
                <li>
                    <a href="https://cta-ifrs.github.io/Text2Braille3d/" target="_blank"><img src="assets/braille.png" alt="braille"></a>
                </li>
                <li>
                    <a href="https://www.thingiverse.com/" target="_blank"><img src="assets/thingiverse.png" alt="thingiverse"></a>
                </li>
                <li>
                    <a href="https://www.instructables.com/" target="_blank"><img src="assets/InstructablesRobot.png" alt="instructables"></a>
                </li>
                <li>
                    <a href="https://www.opendesk.cc/" target="_blank"><img src="assets/opendesk.png" alt="opendesk"></a>
                </li>
                <li>
                    <a href="http://fabacademy.org/" target="_blank"><img src="assets/fabacademy.png" alt="fabacademy"></a>
                </li>
                <li>
                    <a href="https://fabfoundation.org/" target="_blank"><img src="assets/fabfoundation.png" alt="fabfoundation"></a>
                </li>
                <li>
                    <a href="https://fab.city/" target="_blank"><img src="assets/fabcity.png" alt="fabcity"></a>
                </li>
                <li>
                    <a href="https://makezine.com/" target="_blank"><img src="assets/make.png" alt="makezine"></a>
                </li>
                <li>
                    <a href="https://www.tinkercad.com/" target="_blank"><img src="assets/tinkercad.png" alt="tinkercad"></a>
                </li>
                <li>
                    <a href="https://inkscape.org/pt-br/" target="_blank"><img src="assets/inkscape.png" alt="inkscape"></a>
                </li>
                <li>
                    <a href="https://www.makercase.com/" target="_blank"><img src="assets/makercase.png" alt="makercase"></a>
                </li>
                <li>
                    <a href="https://aprendizagemcriativa.org/pt-br" target="_blank"><img src="assets/rbac.png" alt="rbac"></a>
                </li>
                <li>
                    <a href="https://portoalegre.makerfaire.com/" target="_blank"><img src="assets/makepoa.png" alt="makepoa"></a>
                </li>
                <li>
                    <a href="https://www.poalab.net.br/fabbernatives/" target="_blank"><img src="assets/logo1.svg" alt="logo"></a>
                </li>

            </ul>
        </div>
    </div>
</div>